{# modules/custom/matthew/templates/cats.html.twig #}

<div class="cats">
  <h1>{{ content.title }}</h1>
  <div class="block block-system block-system-main-block">
    {{ content.form }}
  </div>
</div>
